@import '@/style/root';
@import '@/style/mixin/all';

.scroll-bar-x {
    width: 100vw;
    display: flex;
    &>div {
        display: flex;
        gap: $g-lg;
        transition: transform .6s 0s;
    }
}