@import '@/style/root';
@import '@/style/mixin/all';

.menu-item-calendary {
    height: 60px;
}

.calendary {
    position: absolute;
    left: 0px;
    bottom: 0;
    transform: scale(0);
    padding-top: $g-xl;
    padding-right: $g-xl;
    transform-origin: 0% 100%;
    transition: transform .6s 0s;
    z-index: 1;
    &__title {
        background-color: $black;
        border-top: $border-line;
        border-left: $border-line;
        border-right: $border-line;
    }
    @include phablet {
        max-width: 100vw;
    }
}

.btn {
    height: 100%;
}

.btn:hover+.calendary,
.btn:focus+.calendary,
.calendary:hover  {
    transform: scale(1);
    transform-origin: 0% 100%;
}