@import '@/style/root';
@import '@/style/mixin/all';

.btn {
    @include text;
    color: $white;
    display: flex;
    align-items: center;
    background-color: transparent;
    background-image: linear-gradient($white 50%, $white 50%);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100% 0; 
    padding: $g-md;
    border: $border-line;
    opacity: 1;
    transition: background-size .6s .0s,
                opacity .6s .0s,
                color .6s 0s;
    cursor: pointer;
    
    &:disabled {
        cursor: default;
    }
    &:not(:disabled):hover {
        color: $black;
        background-size: 100% 100%;
    }
    &:active {
        color: $black;
        background-size: 100% 100%;
        opacity: .6;
    }
}